In [25]:
sec=8584
total_min = sec//60
print(total_min)
hrs =total_min//60
print(hrs)

143
2

In [26]:
sec=96854
print(f"{(sec//60)//60} hrs {(sec//60)%60} min {sec%60} sec")

26 hrs 54 min 14 sec

In [27]:
my = "hi, my name is tejas i am data science student"
print(my.upper())
print(my.capitalize())
print(my.title())
print(my.split("t"))
print(my.replace("tejas" , "thejas"))
print(my.replace("i" , "ello",1))
print(my.find("tejas"))
print(my.find("i",2))
print(my.count("t"))

HI, MY NAME IS TEJAS I AM DATA SCIENCE STUDENT
Hi, my name is tejas i am data science student
Hi, My Name Is Tejas I Am Data Science Student
['hi, my name is ', 'ejas i am da', 'a science s', 'uden', '']
hi, my name is thejas i am data science student
hello, my name is tejas i am data science student
15
12
4

indexing and slicing

In [28]:
"index is a position"

'index is a position'

In [29]:
#syntax
#variable_name[start : stop : step]

In [30]:
my[0:]

'hi, my name is tejas i am data science student'

In [31]:
my[4:]

'my name is tejas i am data science student'

In [32]:
my.find("i" , 2)

12

In [33]:
my[12:].upper()

'IS TEJAS I AM DATA SCIENCE STUDENT'

In [34]:
my[0:12]+my[12:].upper()

'hi, my name IS TEJAS I AM DATA SCIENCE STUDENT'

In [35]:
num = "123456789"
num[0::2]

'13579'

List

In [36]:
l = [4, 7, 2, 8, 2, 9]
print("Original list:", l)

# Append 5 to the end
l.append(5)
print("After append(5):", l)

# Insert 9 at index 4
l.insert(4, 9)
print("After insert(4, 9):", l)

# Extend with multiple elements
l.extend([88, 45])
print("After extend([88, 45]):", l)

# Remove first occurrence of 2
l.remove(2)
print("After remove(2):", l)

# Sort in descending order
l.sort(reverse=True)
print("After sort:", l)

# Remove element at index 2
popped = l.pop(2)
print(f"After pop(2) (removed {popped}):", l)

# Count occurrences of 2
con = l.count(2)
print(f"Count of 2 in list: {con}")
print("List remains:", l)

# Clear all elements
l.clear()
print("After clear():", l)

Original list: [4, 7, 2, 8, 2, 9]
After append(5): [4, 7, 2, 8, 2, 9, 5]
After insert(4, 9): [4, 7, 2, 8, 9, 2, 9, 5]
After extend([88, 45]): [4, 7, 2, 8, 9, 2, 9, 5, 88, 45]
After remove(2): [4, 7, 8, 9, 2, 9, 5, 88, 45]
After sort: [88, 45, 9, 9, 8, 7, 5, 4, 2]
After pop(2) (removed 9): [88, 45, 9, 8, 7, 5, 4, 2]
Count of 2 in list: 1
List remains: [88, 45, 9, 8, 7, 5, 4, 2]
After clear(): []

In [37]:
l =[7,8,4,5,[55,88,99,[100,200,300,400],550]]
# 1. Remove 400 from the list
li = l[4][3]
print(li)
li.remove(400)
print(li)
# 2. Add 1000 on 3rd index
l.insert(3,1000)
print(l)
# 3. Extract 5 to 550 from the list
lis = l[4:]
print(lis)
# 4. Replace 300 with 3000
l[5][3][2]=3000
print(l)

[100, 200, 300, 400]
[100, 200, 300]
[7, 8, 4, 1000, 5, [55, 88, 99, [100, 200, 300], 550]]
[5, [55, 88, 99, [100, 200, 300], 550]]
[7, 8, 4, 1000, 5, [55, 88, 99, [100, 200, 3000], 550]]

In [38]:
t = [1,4,7,8,9,15,88,63,["there","is","a","Class","for","DATA SCIENCE"],69,60,45,85,632,41]
#replace DATA SCIENCE with data science
t[8][-1]="Data Science"  #or t[8][5].capitalize()
print(t)
#add "in college" after data science
t[8].append("in college")
print(t)
#return "there", "is","a","class","for","DATA SCIENCE"
print(t[8])
#sort the list
t.pop(8)  #or t.remove(t[8])
print(t)
t.sort()
print(t)

[1, 4, 7, 8, 9, 15, 88, 63, ['there', 'is', 'a', 'Class', 'for', 'Data Science'], 69, 60, 45, 85, 632, 41]
[1, 4, 7, 8, 9, 15, 88, 63, ['there', 'is', 'a', 'Class', 'for', 'Data Science', 'in college'], 69, 60, 45, 85, 632, 41]
['there', 'is', 'a', 'Class', 'for', 'Data Science', 'in college']
[1, 4, 7, 8, 9, 15, 88, 63, 69, 60, 45, 85, 632, 41]
[1, 4, 7, 8, 9, 15, 41, 45, 60, 63, 69, 85, 88, 632]

Tuple is immutable

In [39]:
o = (1,2,3,4,5)
print("max",max(o))
print("min",min(o))
print("sum",sum(o))
print("lenght",len(o))

max 5
min 1
sum 15
lenght 5