In [27]:
#write a function to calculate 2nd hightest element in a list
def second_hightest(p):
    p.sort()
    f=0
    for i in p:
        if i>min(p) and i<max(p):
            f=i
    return f
p = [1,4,7,8,2,7,8,3,8]
second_hightest(p)

7

In [25]:
# write a function to print only string element from the list
def only_string(st):
    for i in st:
        if isinstance(i, str):
            print(i)

st = [1, 4, "thejas", 9, 2, 88, "we"]
only_string(st)

thejas
we

In [28]:
#or
def only_string(st):
    for i in st:
        if type(i)==str:
            print(i)

st = [1, 4, "thejas", 9, 2, 88, "we"]
only_string(st)

thejas
we

In [7]:
#return all number that are divided by 7,3 in range(10,1000)
for i in range(10,1000):
    if i%21==0:
        print(i,end=" ")

21 42 63 84 105 126 147 168 189 210 231 252 273 294 315 336 357 378 399 420 441 462 483 504 525 546 567 588 609 630 651 672 693 714 735 756 777 798 819 840 861 882 903 924 945 966 987

In [40]:
#return all number that are divided by 7,3 in range(10,1000)
count=0
for i in range(10,1000):
    if i%21==0:
        count=1+count
print(count)

47

In [2]:
# create a 3D array using these list
import numpy as np
a = np.array([[[1,4,7,8,5,2],
               [3,4,7,5,3,6],
               [44,88,66,33,55,33],
               [11,44,58,66,35,36]]])
print(a.shape)
a[:,:3:2,2:4]

(1, 4, 6)

array([[[ 7,  8],
        [66, 33]]])

In [5]:
#Reshape the 3D array in 2D array
b=np.reshape(a,(4,6))
print(b.shape)

(4, 6)

In [1]:
for i in range(1,5):
    for j in range(1,5):
        if j<=i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*
**
***
****

In [2]:
n = 5
for i in range(1, n+1):
    print('*' * i)

*
**
***
****
*****

In [3]:
for i in range(1,5):
    for j in range(1,5):
        if j>=5-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

   *
  **
 ***
****

In [4]:
for i in range(1,5):
    for j in range(1,5):
        if j>=i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

****
 ***
  **
   *

In [5]:
for i in range(1,5):
    for j in range(1,5):
        if j<=5-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

****
***
**
*

In [6]:
for i in range(1,5):
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

   *
  ***
 *****
*******

In [7]:
for i in range(1,5):
    for j in range(1,8):
        if j>=i and j<=8-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*******
 *****
  ***
   *