In [4]:
n = int(input().strip())

if n % 2 != 0:
    print("Weird")
elif n >= 2 and n <= 5:
    print("Not Weird")
elif n >= 6 and n <= 20:
    print("Weird")
else:
    print("Not Weird")

Weird

In [7]:
n = int(input())

if n % 2 == 1 or (n % 2 == 0 and 6 <= n <= 20):
    print("Weird")
else:
    print("Not Weird")

Not Weird

In [9]:
n = int(input())
for i in range(0,n):
    print(i*i)

0
1
4
9

In [10]:
n = int(input())
i=0
while i<n:
    print(i**2)
    i+=1

0
1
4

In [13]:
#leap year
def is_leap(year):
    leap = False
    
    if year % 4 != 0:
        return leap
    else:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
year = int(input())
print(is_leap(year))

False

In [14]:
def is_leap(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False
year = int(input())
print(is_leap(year))

True

In [16]:
n = int(input())
for i in range(1,n+1):
    print(i, end="")

12345

In [18]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
result =[
    [i,j,k]
    for i in range(x+1)
    for j in range(y+1)
    for k in range(z+1)
    if i+j+k!=n]
        
print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [19]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
    
result = []
for i in range(x + 1):
    for j in range(y + 1):
        for k in range(z + 1):
            if i + j + k != n:
                result.append([i, j, k])
    
print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [10]:
# find the Runner-Up
n = int(input())
arr = map(int, input().split())
print(sorted(list(set(arr)))[-2])

"""sample input:
5
2 3 6 6 5"""

5

'sample input:\n5\n2 3 6 6 5'

In [5]:
n = int(input())
arr = map(int, input().split())
s=set(arr)
l=list(s)
print(l[-2])

3

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    avg_score = sum(student_marks[query_name])/3
    print("{:.2f}".format(avg_score))

'''sample input:
2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
'''

26.50

In [11]:
# In a classroom of N students. find the student with the second lowest grade

if __name__ == '__main__':
    records=[]
    s=set()
    for _ in range(int(input())):
        name = input()
        score = float(input())
        records.append([name , score])
        s.add(score)
    sec_low_score=sorted(s)[1]  #sorted function automatically converts to list
    sec_low_name=[]
    
    for name,score in records:
        if score==sec_low_score:
            sec_low_name.append(name)
            
    for name in sorted(sec_low_name):
        print(name)

"""Sample Input
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39"""

berry
harry

'Sample Input\n5\nHarry\n37.21\nBerry\n37.21\nTina\n37.2\nAkriti\n41\nHarsh\n39'