In [1]:
import sqlite3

In [2]:
#connect to an SQLite database
connection=sqlite3.connect("example.db")
connection

In [3]:
cursor=connection.cursor()

In [4]:
#create a table
cursor.execute('''
create table if not exists employees(
    id integer primary key,
    name text not null,
    age integer,
    department text
    )
''')

#commit the changes
connection.commit()

In [6]:
#insert the data
cursor.execute('''
insert into employees(name,age,department)
               values('Thejas',20,'Data Scientist')
''')

cursor.execute('''
insert into employees(name,age,department)
               values('Teju',21,'Data Scientist')
''')

cursor.execute('''
insert into employees(name,age,department)
               values('Tezz',30,'Data Analyst')
''')

connection.commit()

In [8]:
#query the data
cursor.execute('select * from employees')
rows=cursor.fetchall()

#print
for row in rows:
    print(row)

(1, 'Thejas', 20, 'Data Scientist')
(2, 'Teju', 21, 'Data Scientist')
(3, 'Tezz', 30, 'Data Analyst')

In [10]:
#update the data in the table
cursor.execute('''
UPDATE employees
               Set age=39
               where name='Tezz'
''')
connection.commit()

In [11]:
#query the data
cursor.execute('select * from employees')
rows=cursor.fetchall()

#print
for row in rows:
    print(row)

(1, 'Thejas', 20, 'Data Scientist')
(2, 'Teju', 21, 'Data Scientist')
(3, 'Tezz', 39, 'Data Analyst')

In [14]:
#delete the data from the table
cursor.execute('''
Delete from employees
               where name='Tezz'
''')
connection.commit()

In [15]:
#query the data
cursor.execute('select * from employees')
rows=cursor.fetchall()

#print
for row in rows:
    print(row)

(1, 'Thejas', 20, 'Data Scientist')
(2, 'Teju', 21, 'Data Scientist')

In [17]:
#working with sales data
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

#create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER primary key,
    date text not NULL,
    product TEXT NOT NULL,
    sales integer,
    region text
    )
''')

#insert
sales_data=[
    ('2026-01-01','pro1',100,'south'),
    ('2026-01-02','pro2',200,'north'),
    ('2026-01-03','pro3',300,'east'),
    ('2026-01-04','pro4',400,'west'),
    ('2026-01-05','pro5',500,'south')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [18]:
#close the connection
connection.close()