In [10]:
#what is the total sales of audi
import pandas as pd
a=pd.read_csv("data/car_done.csv")
a.head()

,Unnamed: 0,Manufacturer,Model,Sales_in_thousands,four_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [11]:
a.info()

<class 'pandas.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              157 non-null    int64
 1   Manufacturer            157 non-null    str
 2   Model                   157 non-null    str
 3   Sales_in_thousands      157 non-null    float64
 4   four_year_resale_value  121 non-null    float64
 5   Vehicle_type            157 non-null    str
 6   Price_in_thousands      155 non-null    float64
 7   Engine_size             156 non-null    float64
 8   Horsepower              156 non-null    float64
 9   Wheelbase               156 non-null    float64
 10  Width                   156 non-null    float64
 11  Length                  156 non-null    float64
 12  Curb_weight             155 non-null    float64
 13  Fuel_capacity           156 non-null    float64
 14  Fuel_efficiency         154 non-null    float64
 15  Latest_Launch           157 non-null    str
 16  Power_perf_factor       155 non-null    float64
dtypes: float64(12), int64(1), str(4)
memory usage: 25.5 KB

In [12]:
a.dropna(inplace=True)
a.info()

<class 'pandas.DataFrame'>
Index: 117 entries, 0 to 149
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              117 non-null    int64
 1   Manufacturer            117 non-null    str
 2   Model                   117 non-null    str
 3   Sales_in_thousands      117 non-null    float64
 4   four_year_resale_value  117 non-null    float64
 5   Vehicle_type            117 non-null    str
 6   Price_in_thousands      117 non-null    float64
 7   Engine_size             117 non-null    float64
 8   Horsepower              117 non-null    float64
 9   Wheelbase               117 non-null    float64
 10  Width                   117 non-null    float64
 11  Length                  117 non-null    float64
 12  Curb_weight             117 non-null    float64
 13  Fuel_capacity           117 non-null    float64
 14  Fuel_efficiency         117 non-null    float64
 15  Latest_Launch           117 non-null    str
 16  Power_perf_factor       117 non-null    float64
dtypes: float64(12), int64(1), str(4)
memory usage: 19.9 KB

In [13]:
b=a[a["Manufacturer"]=="Audi"]
b["Sales_in_thousands"].sum()

np.float64(40.557)

In [14]:
#what is the minimum sales of Volkswagen
c=a[a["Manufacturer"]=="Volkswagen"]
c["Sales_in_thousands"].min()

np.float64(5.596)

In [15]:
#what is the difference between count of car and passenger
d=a[a["Vehicle_type"]=="Car"]
e = a[a["Vehicle_type"]=="Passenger"]
f = len(d)-len(e)

In [16]:
abs(f)

59

In [17]:
#return rows where sales is more then 100 and fuel capacity is more then 12
a[(a["Sales_in_thousands"]>100)& (a["Fuel_capacity"]>12)]

,Unnamed: 0,Manufacturer,Model,Sales_in_thousands,four_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
19,19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347
20,20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,190.4,3.051,15.0,25.0,3/19/2012,67.314462
40,40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17.0,3/6/2012,90.211700
43,43,Dodge,Dakota,111.313,11.260,Car,16.980,2.5,120.0,131.0,71.5,215.0,3.557,22.0,19.0,11/25/2011,49.645002
45,45,Dodge,Caravan,181.749,12.025,Car,19.565,2.4,150.0,113.3,76.8,186.3,3.533,20.0,24.0,9/1/2011,61.227000
47,47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,183.2,3.203,15.7,24.0,1/31/2012,76.509185
49,49,Ford,Taurus,245.815,10.055,Passenger,17.885,3.0,155.0,108.5,73.0,197.6,3.368,16.0,24.0,12/20/2011,62.503740
52,52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,190.7,3.876,21.0,19.0,4/25/2012,87.635496
53,53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,200.9,3.761,26.0,21.0,2/25/2012,62.095048
54,54,Ford,Expedition,125.338,23.575,Car,36.135,4.6,240.0,119.0,78.7,204.6,4.808,26.0,16.0,9/14/2012,100.024802
55,55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23.0,1/14/2012,47.389531
56,56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,224.5,4.241,25.1,18.0,8/16/2012,89.401935
58,58,Honda,Accord,230.902,13.210,Passenger,15.350,2.3,135.0,106.9,70.3,188.8,2.932,17.1,27.0,5/20/2012,54.269548
69,69,Jeep,Grand Cherokee,157.040,18.810,Car,26.895,4.0,195.0,105.9,72.3,181.5,3.880,20.5,19.0,12/10/2011,80.387779
119,119,Pontiac,Grand Am,131.097,10.290,Passenger,19.720,3.4,175.0,107.0,70.4,186.3,3.091,15.2,25.0,11/26/2012,70.389737
136,136,Toyota,Corolla,142.535,10.025,Passenger,13.108,1.8,120.0,97.0,66.7,174.0,2.420,13.2,33.0,4/11/2011,47.968972
137,137,Toyota,Camry,247.994,13.245,Passenger,17.518,2.2,133.0,105.2,70.1,188.5,2.998,18.5,27.0,2/10/2011,54.372420

In [18]:
#return those rows where sales is more then average sales
a["Sales_in_thousands"].mean()

np.float64(59.112316239316236)

In [19]:
z=a[a["Sales_in_thousands"]>a["Sales_in_thousands"].mean()]

In [20]:
len(z)

39

In [21]:
d["Manufacturer"].value_counts()

Manufacturer
Dodge         5
Ford          5
Toyota        4
Honda         3
Jeep          3
Mitsubishi    2
Mercury       2
Nissan        2
Oldsmobile    2
Plymouth      1
Name: count, dtype: int64

In [22]:
s=a[a["Vehicle_type"]=="Car"]
am=s["Sales_in_thousands"].sum()
am

np.float64(2766.779000000001)

In [23]:
s=a[a["Vehicle_type"]=="Passenger"]
amo=s["Sales_in_thousands"].sum()
amo

np.float64(4149.362)

In [24]:
a.groupby(["Manufacturer"])["Sales_in_thousands"].sum().sort_values()

Manufacturer
Porsche         12.128
Infiniti        23.713
BMW             26.758
Audi            40.557
Lexus           43.145
Oldsmobile      60.180
Plymouth        62.129
Lincoln         62.709
Acura           64.891
Mercedes-B      66.079
Cadillac        81.450
Saturn         110.389
Chrysler       117.545
Hyundai        137.326
Volkswagen     159.749
Mitsubishi     180.895
Mercury        237.999
Buick          242.019
Nissan         280.472
Jeep           293.153
Pontiac        330.962
Chevrolet      446.370
Honda          592.674
Toyota         675.086
Dodge          720.798
Ford          1846.965
Name: Sales_in_thousands, dtype: float64

In [25]:
a.groupby(["Manufacturer"])["Sales_in_thousands"].sum().sort_values()

Manufacturer
Porsche         12.128
Infiniti        23.713
BMW             26.758
Audi            40.557
Lexus           43.145
Oldsmobile      60.180
Plymouth        62.129
Lincoln         62.709
Acura           64.891
Mercedes-B      66.079
Cadillac        81.450
Saturn         110.389
Chrysler       117.545
Hyundai        137.326
Volkswagen     159.749
Mitsubishi     180.895
Mercury        237.999
Buick          242.019
Nissan         280.472
Jeep           293.153
Pontiac        330.962
Chevrolet      446.370
Honda          592.674
Toyota         675.086
Dodge          720.798
Ford          1846.965
Name: Sales_in_thousands, dtype: float64

In [26]:
car=pd.read_csv("data/car_done.csv")
car.isnull().sum()

Unnamed: 0                 0
Manufacturer               0
Model                      0
Sales_in_thousands         0
four_year_resale_value    36
Vehicle_type               0
Price_in_thousands         2
Engine_size                1
Horsepower                 1
Wheelbase                  1
Width                      1
Length                     1
Curb_weight                2
Fuel_capacity              1
Fuel_efficiency            3
Latest_Launch              0
Power_perf_factor          2
dtype: int64

In [27]:
car["four_year_resale_value"].fillna(2,inplace=True)

C:\Users\tejas\AppData\Local\Temp\ipykernel_10952\3455776054.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  car["four_year_resale_value"].fillna(2,inplace=True)

0      16.360
1      19.875
2      18.225
3      29.725
4      22.255
        ...
152     2.000
153     2.000
154     2.000
155     2.000
156     2.000
Name: four_year_resale_value, Length: 157, dtype: float64

In [28]:
car.isnull().sum()

Unnamed: 0                 0
Manufacturer               0
Model                      0
Sales_in_thousands         0
four_year_resale_value    36
Vehicle_type               0
Price_in_thousands         2
Engine_size                1
Horsepower                 1
Wheelbase                  1
Width                      1
Length                     1
Curb_weight                2
Fuel_capacity              1
Fuel_efficiency            3
Latest_Launch              0
Power_perf_factor          2
dtype: int64

In [29]:
car.describe()

,Unnamed: 0,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,157.000000,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000,155.000000
mean,78.000000,52.998076,18.072975,27.390755,3.060897,185.948718,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156,77.043591
std,45.466105,68.029422,11.453384,14.351653,1.044653,56.700321,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.000000,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,39.000000,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000,60.407707
50%,78.000000,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000,72.030917
75%,117.000000,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000,89.414878
max,156.000000,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

In [30]:
car["four_year_resale_value"].describe()

count    121.000000
mean      18.072975
std       11.453384
min        5.160000
25%       11.260000
50%       14.180000
75%       19.875000
max       67.550000
Name: four_year_resale_value, dtype: float64

In [31]:
car["four_year_resale_value"].median()

np.float64(14.18)

In [32]:
car["four_year_resale_value"].fillna(car["four_year_resale_value"].median(),inplace=True)

C:\Users\tejas\AppData\Local\Temp\ipykernel_10952\2390722695.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  car["four_year_resale_value"].fillna(car["four_year_resale_value"].median(),inplace=True)

0      16.360
1      19.875
2      18.225
3      29.725
4      22.255
        ...
152    14.180
153    14.180
154    14.180
155    14.180
156    14.180
Name: four_year_resale_value, Length: 157, dtype: float64